<% provide(:title, "Help") %>
<h1>Help</h1>
<h5 class="center">
Welcome to Private Events!
</h5>
<p class="center">
If you are a new user, <%= link_to "sign up now!", signup_path %>
</p>

<h5>Tips</h5>
<p>
  See a list of all events by clicking the All Events tab. 
</p>
<p>
  You can make new events by clicking the New Event tab. 
</p>
<p>
  Click the My Events tab to view all of your events, including events that you 
  are hosting and your past and incoming events. 
</p>
<p>
  View a singular event by clicking on any event in either the All events tab or
  My Events tab. You can invite other users by selecting a user from the 
  dropdown menu and clicking the invite button.
</p>
