<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
Welcome to Private Events!
</p>
<p>
If you are a new user, <%= link_to "sign up now!", signup_path %>
</p>
<p>
See a list of all events by clicking the All Events tab. You can make new
events by clicking the New Event tab. Click the My Events tab to view all 
of your events, including events that you are hosting and your past and 
incoming events.
</p>
