<% provide(:title, "All Events") %>

<h1>All Events</h1>

<h3>Upcoming Events</h3>
<% if Event.upcoming.any? %>
    <% Event.upcoming.each do |event| %>
      <%= render 'event', :event => event %>
    <% end %>
<% end %>

<h3>Past Events</h3>
<% if Event.past.any? %>
    <% Event.past.each do |event| %>
      <%= render 'event', :event => event %>
    <% end %>
  </table>
<% end %>
